@import url("https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund:wght@100..400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Playwrite DE Grund", cursive;
  /* border: 1px solid; */
}

:root {
  --completed: rgb(230, 250, 234);
  --completedText: rgb(0, 255, 51);
  --progress: rgb(255, 247, 230);
  --progressText: rgb(250, 174, 9);
  --waiiting: rgb(230, 238, 255);
  --waiitingText: rgb(10, 87, 255);
  --unfinished: rgb(211, 211, 211);
  --delete: rgb(255, 0, 0);
  --White: rgb(255, 255, 255);
  --Black: rgb(0, 0, 0);
  --lightBlack: rgb(0, 0, 0, 0.5);
}
.complet {
  background-color: var(--completed);
  color: var(--completedText);
}
.progress {
  background-color: var(--progress);
  color: var(--progressText);
}
.waiting {
  background-color: var(--waiiting);
  color: var(--waiitingText);
}
.unfinished {
  background-color: var(--unfinished);
}
main {
  min-height: 90dvh;
  padding: 16px;
  width: 35%;
  min-width: 500px;
  margin: 2rem auto;
  border-radius: 32px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
section {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 1rem;
  padding: 1rem;
}
.title {
  font-size: 2rem;
  text-align: center;
}

.group {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.inputField {
  padding: 1rem;
  margin-top: 0.5rem;
  width: 90%;
  padding: 0.5rem;
  margin-top: 0.5rem;
  height: 100%;
  text-align: justify;
  font-size: 1rem;
}
.inputData {
  width: 100%;
  position: relative;
}
.inputField:focus ~ .Inputlabel {
  top: -0.2rem;
  transition: 0.3s;
  font-size: 0.8rem;
}
.inputField:focus {
  border-color: transparent;
  border-bottom-color: var(--Black);
  background-color: transparent;
  outline: none;
}
.Inputlabel {
  position: absolute;
  left: 2%;
  top: 30%;
}
/* ----------------------------------------------------Add btn ------------------------- */
.addBtn {
  transition: 0.5s;
  width: 50px;
  padding: 5px;
  color: var(--White);
  background-color: var(--lightBlack);
  border-radius: 5px;
  outline: none;
  border: none;
}
.addBtn:hover {
  color: var(--White);
  background-color: var(--Black);
}
.addBtn:active {
  transform: translateY(7px);
}

/* --------------------------------------------------------------To do item checkbox------------------------ */

/* input[type="checkbox  "]::before {
  content: "";
  height: 2px;
  width: 10px;
  background-color: black;
} */

/* -----------------------------------toto-item---------- */
.todo-item {
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin: 0.5rem 0;
  text-align: justify;
  /* display: grid;
  grid-template-columns: 3fr 0.1fr;  */
  display: flex;
  align-items: center;
  position: relative;
}

.wraper{
  flex-grow: 1;
}
.fa-trash {
  color: var(--delete);
  /* position: absolute; */
  right: 0%;
  margin-top: 0.2rem;
  font-size: 1.25rem;
  padding: 0 5px;
}
/* ----------------------------------check-box-------------------------- */
.container {
  position: relative;
  padding-left: 35px;
  cursor: pointer;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: var(--unfinished);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.checkmark::after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
  transform: rotate(45deg);
}
.complete:checked ~ .checkmark {
  background-color: var(--completedText);
}
.waiitingText:checked ~ .checkmark {
  background-color: var(--waiitingText);
}
.progress:checked ~ .checkmark {
  background-color: var(--progressText);
}
.progress:checked ~ .checkmark::after {
  height: 10px;
  width: 10px;
  top: 5px;
  left: 5px;
  border-width: 0px 1px 3px 3px;
  border-radius: 50%;
}
.finish:checked ~ .checkmark::after {
  content: "x";
  border-radius: 50%;
}
.data{
  padding-right: 32px;
}
