.clients-section.style-2 .section-wrapper {
    background-image: url(https://i.ibb.co/HqsHRpd/bg.png) !important;
}
.banner-section.style-4 {
    background-image: url(../public/images/bg-img/06.jpg) !important;
}
.banner-section{
    background-image: url(../public/images/bg-img/01.jpg) !important; 
}
.register-section {
    background-image: url(../public/images/bg-img/07.jpg) !important;
}
.course-section.style-3 {
    background-image: url(../public/images/shape-img/01.jpg) !important;
}